* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
}

/* Hide the checkbox */
#modal-toggle {
  display: none;
}

/* Open modal button */
.open-modal {
  font-size: 16px;  
  background-color: rgb(157, 93, 152);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  font-weight: 400;
}

/* Modal background */
.modal {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
}

/* Modal content box */
.modal-content {
  background-color: rgb(222, 165, 221);
  width: 300px;
  margin: 100px auto; 
  padding: 20px;
  position: relative;
}

/* Close button */
.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: black;
  font-weight: bold;
}

.modal-content h2 {
  font-size: 24px;      
  color: #333;           
  margin-bottom: 15px;   
  font-weight: bold;     
}

.modal-content p {
  font-size: 16px;       
  color: black;          
  line-height: 1.5;     
  margin-bottom: 20px;   
}

/* Show modal when checkbox is checked */
#modal-toggle:checked + .open-modal + .modal {
  display: block;
}
