* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    

   .container  {
    margin: 100px;
    overflow: auto;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;    
    gap: 10px;
    flex-wrap: wrap
   }
   .container div {
     width: 600px;
   }

.box1 {
    background-color: #f1c40f; 
   

}

.box2 {
    background-color: #2ecc71; 
}


